{% extends 'base.html' %}
    {% block title %}about{% endblock title %}
  {% block body %}
  <HTML>
<HEAD>
<TITLE>
              LEARNING HTML ATTRIBUTES
</TITLE>
</HEAD>
<BODY bgcolor="#FAEBD7">
 <FONT FACE="ARIAL" COLOR="RED" SIZE="7">

<H1 ALIGN ="CENTER" > INTERNET </H1>
</FONT>
<FONT FACE="arial" color ="ff00E7" SIZE="6">
<P><img SRC="/static/pic/sig 000.jpg">Internet</P>
<img src="/static/pic/y.jpg" class="img-fluid" alt="Responsive image">

</FONT>
<HR>
<UL>
<FONT FACE ="TAHOMA" COLOR="BLACK" SIZE="5">
<P><img SRC="pic0000.jpg"></p>
<P ALIGN="CENTER">THE INTERNET IS TH WORLDWIDE NETWORK OF COMPUTERS, WHICH ALLOW TO SHARE LARGE AMOUNT OF INFORMATION. IN THIS NETWORK, THE COMPUTER ARE CONNECTED THROUGH CABLE OR ANY OTHER DEVICE.</P>
<P ALIGN="CENTER"> THE INTERNET IS A WORLDWIDE NETWORK OF COMPUTERS, WHICH ALLOW TO SHARE LARGE AMOUNT OF INFORMATION. IN THIS NETWORK, THE COMPUTER ARE CONNECTER THROUGH THORUGH CABLE OR ANY OTHER DEVICE</P>
</HR>
</UL>
<P ALIGN="CENTER"><u> THERE ARE SOME POPULAR IMAGES ON INTERNET<u></P>

</FONT>
</BODY>
<FONT FACE="GARMOND" COLOR="BLACK" SIZE="3">
<P><img SRC="static/pic/yoyo.jpg" align="top">He is the smartest person in the wrold</p>
<P><img SRC="yoyo.jpg" align="top">He is master of the computer </p>
<P><img SRC="static/pic/yio.jpg" align="top">picture</P>
</FONT>
</HTML> 
  
  {% endblock body %}
  
