{% extends 'base.html' %}
    {% block title %}services{% endblock title %}
  {% block body %}
  <HTML>
<HEAD>
<TITLE> DEEPAK IMAGE</TITLE>
<BODY bgcolor="FF0005" text="9">
 <H1 ALIGN="CENTER"> EDITER</H1>
<FONT FACE="ARIAL" COLOR="BLUE" SIZE="6">
<P ALIGN="CENTER"> <B><U>HERE YOU CAN SEE MY OWN EDITED BEST ANIMATED VEDIOS </B></U></P>
</FONT>
<FONT FACE="gernoma" color="0000FF" size="4">
<p align= "center"> the top vedio of deepak don prajapati</p>
<p align="center"> you can serch any things what u want related to the computer application the c language is the oldest language 
it discover in 1967 by deniss richee in bells lab .</p>
</FONT>
</BODY>
<video width="400" controls>
  <source src="static/pic/rockstar2.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

</HTML>
  
  
  
  {% endblock body %}

  
